body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.CardsAuthor{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 9rem;
    margin-top: 5rem;
    box-shadow: 0px 0px 10px  #D7D7CF;
    justify-content: center;
    align-items: center;
}

.image{
    width: 40%;
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.img{
    width: 18rem;
    height: 15rem;
    margin-bottom: 10px;
    align-content: center;
    border-radius: 8px 8px 0px 0px;

    
}

.info{
    display:flex;
    flex-direction: column;
    width: 60%;
    height: 100%; 
}

.titulo{
    font-family: Quicksand;
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 2rem;
}


.infoItem{
    font-family: Quicksand;
    font-size: 18px;  
    margin-bottom: 1rem;
}


.pago{
 display: flex;
 flex-direction: column;
}


.precio{
    font-family: Quicksand;
    font-weight: bolder;
    font-size: 20px;  
    margin-bottom: 1rem;  
}

