body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.PoliticaPrivacidad{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.titulo{
    width: 60%;
    height: 50%;
    margin-top: 6rem;
    margin-left: 19rem;
    justify-content: center;
}

.tituloH3{
    text-align: justify;
    font-family: Quicksand;
    font-size: 15px;
    margin-top: 1rem;
}

.boton{
    width: 30%;
    height: 20%;
    margin-top: 5rem;
    margin-left: 20rem;
    display: flex;
    justify-content: flex-end;
}

.botonArriba{
    cursor: pointer;

}