body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.PoliticaPrivacidad{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.titulo{
    margin-top: 4rem;
    text-align: center;
    font-family: Quicksand;
    font-size: 15px;
}