body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.detail {
    height: 125vh; 
}

.container{
    margin-top: 7rem;
    margin-left: 3rem;
    height: 70%;
    width: 90%; 
    display: flex;
    margin-bottom: 7rem;
    justify-content: space-around;
}

.containerItems{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    height: 100%;
    justify-content: space-around;
}

.img1{
    height: 300px;
    width: 300px; 
}

 .img{
    margin-top: 2rem;
    align-items: center;
    width: 95%;
    display: flex;
    justify-content: space-around;
}

.img2{
    height: 150px;
    width: 150px; 
    margin-right: 1rem;
}


.conteiner2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%; 
    height: 100%;
}



.info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 80%;
    padding-right: 5rem;
}


.title{
    font-family: Quicksand;
    font-weight: bolder;
    font-size: 30px;
    justify-items: center;
    margin-bottom: 1rem;   
    margin-top: 1rem;
}


.datos{
    font-family: Quicksand;
    font-size: 13px;
    margin-bottom: 0.5rem;
} 

.active{
    font-family: Quicksand;
    font-size: 13px;
    margin-bottom: 0.5rem;
    color: #4083d6
}


.description{
    margin-top: 0.5rem;
    font-family: Quicksand;
    font-size: 15px;
    margin-bottom: 1rem;
    text-overflow: ellipsis;  
    white-space: wrap;
    overflow: hidden;
}

.compra{
    display: flex;
    height: 20%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


.compra1{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.precio{
    font-family: Quicksand;
    font-weight: bolder;
    font-size: 43px;
}

.stockItems{
    display: flex;
}

.stock{
    font-family: Quicksand;
    font-weight: bolder;
    font-size: 20px;
    margin-right: 0.5rem;
}

.NumeroStock{
    font-family: Quicksand;
    font-size: 20px;
}

.botones{
    height: 100%;
    width: 60%;
    display: flex;
}


.carrito{
    height: 100%;
    width: 50%;
    padding-left: 1rem;
}

.boton{
    margin-top: 2rem;
    width: 200px;
    height: 60px;
    background-color: #01A86C;
    font-weight: 600;
    font-size: 18px;
    border-radius: 8px;
    padding-right: 29px;
}

.carritoCompra{
    position: absolute;
    top: 87%;
    right: 27%;
}


.boton:hover{
    background-color: #11875c;
}



.borrados{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.botonBorradoLogico{
    margin-top: 1rem;
    width: 100px;
    height: 40px;
    background-color: white;
    border: 2px solid #01A86C;
    font-weight: bolder;
    font-size: 13px;
    border-radius: 8px;
    color: #01A86C;
    margin-left: 2rem;
}

/* disable --> true */
.botonBorradoLogicoDes{  
    border: 2px solid red;
    color: red;
}



.botonBorrado{
    margin-top: 1rem;
    width: 100px;
    height: 40px;
    background-color: red;
    font-weight: bolder;
    font-size: 13px;
    border-radius: 8px;
    margin-left: 2rem;
}


.botonBorrado:disabled{
    background-color: #7d7d7d;
}

.recomendados{
    margin-top: 3rem;
    width: 80%;
    height: 20%;
    justify-content: center;
    border: 2px solid black;
}