
.title {
    font-family: Quicksand;
    font-weight: bold;
    font-size: x-large;
    color: #01A86C;
    padding: 10px;
}

.content {
    padding: 10px;
    list-style-type: none;
}

.item{
    font-family: Quicksand;
    font-size: large;
}