

body{
    
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;

}

.container_navBar2{
    display: flex;
    border-top: 2px solid #D9D9D9;
    margin-left: 3rem;
    margin-right: 4rem;
    padding-top: 0.5rem;
    align-items: center;
    justify-content: center;
    gap: 16rem;
}

.h3{
    display: flex;
    color: #01A86C;
    font-family: Quicksand;
    font-weight: bolder;
    font-size: 18px;
}