
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.home{
    display: flex;
    flex-direction: column; 
    height: 800vh;
}

.banner{
    width: 88%;
    margin-left: 5rem;
    margin-top: 3rem;
}

.ordenamientos{
    background-color: #F2F1EF;
    width: 30%;
    height: 3rem;
    margin-left: 34rem;
    margin-top: 5rem;
}

.paginado{
    background-color: #F2F1EF;
    width: 10%;
    height: 3rem;
    margin-left: 76.5rem;
    margin-top: 2rem;
}

.cuerpo{
    width: 85%;
    height: 700vh;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-left: 5rem;
}


.filtro{
    background-color: #F2F1EF;
    width: 15%;
    height: 30rem;
}

.cards{
    width: 80%;
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-around;
    gap: 1rem
}