body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.book{
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 22rem;
    box-shadow: 0px 0px 10px  #D7D7CF;

}

.icono{
    position: absolute;
    background-color: #01A86C;
    border-radius: 12px 11px 12px 12px;
}

.img{
    width: 15rem;
    height: 11rem;
    margin-bottom: 10px;
    align-content: center;
    border-radius: 8px 8px 0px 0px;
}

p{
    text-overflow: ellipsis;  
    width: 100%;
    height: 35px;
    white-space: wrap;
    overflow: hidden;
}

.title{
    height: 20%;
    font-family: Quicksand;
    font-weight: bolder;
    font-size: 15px;
    text-align: center;
    text-overflow: ellipsis;
    align-content: center;
}

.authors{
    font-family: Quicksand;
    font-weight: medium;
    font-size: 12px;
    text-align: center;
    margin-top: 0.5rem;
}



.conteiner{
    display: flex;
    margin-top: 1rem;
}

.info{
    width: 40%;
    justify-content: center;
}


.precio{
    font-family: Quicksand;
    font-weight: bolder;
    font-size: 23px;  
    text-align: center;

}


.pago {
    display: flex;
    width: 50%;
    justify-content: center;
    margin-right: 8px;
}



.boton{
    background-color: #01A86C;
    font-weight: 600;
    font-size: 12px;
    border-radius: 8px;
    padding: 10px;
}


.boton:hover{
    background-color: #11875c;
}