
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.conteiner{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    width: 20rem;
    height: 2rem;
    margin-right: 15rem;
}

.input{
    width: 17rem;
    border: 1px solid #D9D9D9;
    height: 2rem;
    text-align: center;
}

.input:focus{
    outline-color: #01A86C;
}


.button{
    border: 1px solid #01A86C;
    background-color: #01A86C;
    height: 2rem;
    width: 3rem;
    /* justify-content: center; */
}

.button:hover{
    box-shadow: 2px 2px 4px  #01a86b9b;
}

.icono{
    margin-left: 0.5rem;
}